.subject {
  background-color: #fff;
  padding: 15px;
}
.subject-btn {
  margin-bottom: 15px;
}
.subject .update-btn {
  margin-right: 20px;
}
.subject-input {
  width: 30%;
}
.subject-button {
  margin-right: 15px;
}
